body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(51, 63, 72);
}

h1 {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Table */

table {
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 6px;
  -moz-border-radius: 6px;
  max-width: 100%;
  white-space: nowrap;
}

thead {
  background-color: rgb(124, 224, 211);
}

td,
th {
  border: 0.5px solid rgb(124, 224, 211);
  text-align: left;
  padding: 8px;
}

/* Button */
.actionButton {
  background-color: #00aec7;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 5px;
  border: 0;
}
.actionButton:hover {
  background-color: #0394aa;
}
.actionButton:active {
  position: relative;
  top: 1px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hide-modal {
  display: none; /* Hidden by default */
}

.show-modal {
  display: block; /* Hidden by default */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modalTable {
  border: 0px;
}

.employeeModalLabel {
  font-weight: 500;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalInput {
  margin: 5px;
}
